<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{index::head_fragment(#{page.packs.label},~{})}">
    <meta th:remove="all" charset="UTF-8">
    <meta th:remove="all" name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="../static/style.css" rel="stylesheet" />

    <title>Packages</title>
</head>
<body>
<div class="container-fluid p-0">
    <nav class="navbar bg-dark navbar-expand-lg" data-bs-theme="dark" th:replace="~{index::nav_fragment}">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" th:href="@{/}" th:text="${#strings.capitalize(server)}">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false" th:text="#{page.language.label}">Language</a>
                        <ul class="dropdown-menu">
                            <li th:each="language : ${T(com.arslan.web.entity.SupportedLanguages).values()}"><a
                                    class="dropdown-item"
                                    th:text="${#messages.msg('supported.language.'+language.name())}"
                                    th:href="@{|/?locale=${language.locale.language}|}" href="#">Russian</a></li>
                            <li th:remove="all"><a class="dropdown-item" href="#">Test</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false" th:text="#{page.server.label}">Server</a>
                        <ul class="dropdown-menu">
                            <li th:each="server : ${servers}"><a class="dropdown-item" th:text="${server}"
                                                                 th:href="@{|/?server=${server}|}" href="#">Server</a>
                            </li>
                            <li th:remove="all"><a class="dropdown-item" href="#">Test</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#" th:href="@{/packs}" th:text="#{page.packs.label}">Packs</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <div th:replace="~{index::messages}"></div>
        <div class="container-fluid">
            <div class="row mt-2">
                <div class="col-4 d-flex align-items-center">
                    <label class="form-label m-0" for="continent" th:text="#{page.continent.label}">Continent:</label>
                    <select class="form-select" id="continent" onchange="changeContinent()">
                        <option value="east" th:each="continent : ${T(com.arslan.archeage.Continent).values()}"
                                th:selected="${selectedContinent == continent}"
                                th:value="${continent.name()}"
                                th:text="${#messages.msg('page.continent.'+continent.name())}">East
                        </option>
                        <option value="west" th:remove="all">West</option>
                        <option value="north" th:remove="all">North</option>
                    </select>
                </div>
                <div class="col-4 d-flex align-items-center">
                    <label class="form-label m-0" for="departure_location" th:text="#{page.departure.location.label}">Departure Location:</label>
                    <select class="form-select" id="departure_location" onchange="changeDepartureLocation()">
<!--                        <option value="all" th:text="#{page.locations.all}" th:selected="${departureLocation.isEmpty()}">All Locations</option>-->
<!--                        <option value="east" th:each="location : ${locations}" th:selected="${departureLocation.isPresent() && departureLocation.get() == location.id}" th:value="${location.id}" th:text="${#strings.capitalizeWords(location.name)}">Location1:</option>-->
                        <option value="west" th:remove="all">Location2:</option>
                        <option value="north" th:remove="all">Location3:</option>
                    </select>
                </div>
                <div class="col-4 d-flex align-items-center">
                    <label class="form-label text-center" for="destination_location" th:text="#{page.destination.location.label}">Destination Location:</label>
                    <select class="form-select" id="destination_location" onchange="changeDestinationLocation()">
<!--                        <option value="all" th:text="#{page.factories.all}" th:selected="${destinationLocation.isEmpty()}">All Factories</option>-->
<!--                        <option value="east" th:each="location : ${factories}" th:value="${location.id}" th:text="${#strings.capitalizeWords(location.name)}" th:selected="${destinationLocation.isPresent() && destinationLocation.get() == location.id}">Location1:</option>-->
                        <option value="west" th:remove="all">Location2:</option>
                        <option value="north" th:remove="all">Location3:</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-1 mt-5">
        <div class="row w-100">
            <h4 th:text="#{page.recipes}" class="text-center col">Recipes</h4>
            <h4 th:text="#{page.pack.name}" class="text-center col">Pack Name</h4>
            <h4 th:text="#{page.pack.creation.location}" class="text-center col">Creation Location</h4>
            <h4 th:text="#{page.pack.destination.location}" class="text-center col">Destination Location</h4>
            <h4 th:text="#{page.pack.sell.price}" class="text-center col">Sell Price</h4>
            <h4 th:text="#{page.pack.profit}" class="text-center col">Profit</h4>
            <hr class="mt-1" />
        </div>
        <div th:replace="~{pagination::pagination_container}">
            <div id="packs">
                <div th:each="pack : ${packs}" >
                    <div class="row w-100">
                        <div class="d-flex justify-content-center col">
                            <button class="btn btn-success" type="button" th:attr="data-bs-target=|#recipe_${pack.recipeDTO.id}_${pack.destinationLocation.replace(' ','_')}|,aria-controls=|recipe_${pack.recipeDTO.id}_${pack.destinationLocation}|" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">+</button>
                        </div>
                        <div th:text="${pack.name}" class="text-center col">Pack Name</div>
                        <div th:text="${pack.creationLocation}" class="text-center col">Location X</div>
                        <div th:text="${pack.destinationLocation}" class="text-center col">Location Y</div>
                        <div th:text="${pack.sellPrice.gold+#messages.msg('page.gold')+' '+pack.sellPrice.silver+#messages.msg('page.silver')+' '+pack.sellPrice.copper+#messages.msg('page.copper')}" class="text-center col">1g 1s 1c</div>
                        <div th:text="${pack.profit.gold+#messages.msg('page.gold')+' '+pack.profit.silver+#messages.msg('page.silver')+' '+pack.profit.copper+#messages.msg('page.copper')}" class="text-center col"></div>
                        <select class="form-select col">
                            <option th:each="number : ${#numbers.sequence(80,130)}" th:value="${number}" th:text="|${number}%|" th:selected="${number == 100}">100%</option>
                        </select>
                    </div>
                    <div class="row m-0 mt-4 collapse" id="collapseExample" th:id="|recipe_${pack.recipeDTO.id}_${pack.destinationLocation.replace(' ','_')}|">
                        <div class="row">
                            <h4 th:text="#{page.produced.quantity}" class="text-center col">Produced quantity</h4>
                            <h4 th:text="#{page.recipe.cost}" class="text-center col">Cost</h4>
                        </div>
                        <div class="row">
                            <h4 th:text="${pack.recipeDTO.quantity}" class="text-center col">1</h4>
                            <h4 th:text="${pack.recipeDTO.cost().gold+#messages.msg('page.gold')+' '+pack.recipeDTO.cost().silver+#messages.msg('page.silver')+' '+pack.recipeDTO.cost().copper+#messages.msg('page.copper')}" class="text-center col">1g 1s 1c</h4>
                        </div>
                        <div class="row">
                            <h4 th:text="#{page.material.name}" class="text-center col">Material's Name</h4>
                            <h4 th:text="#{page.quantity}" class="text-center col">Quantity</h4>
                            <h4 th:text="#{page.unit.price}" class="text-center col">Unit's Price</h4>
                            <h4 th:text="#{page.total.cost}" class="text-center col">Total Price</h4>
                        </div>
                        <div class="row" th:each="material : ${pack.recipeDTO.materials}">
                            <div th:text="${material.itemDTO.name}" class="text-center col">Item</div>
                            <div th:text="${material.quantity}" class="text-center col">300</div>
                            <div th:if="${material.itemDTO.price != null}" th:text="${material.itemDTO.price.gold+#messages.msg('page.gold')+' '+material.itemDTO.price.silver+#messages.msg('page.silver')+' '+material.itemDTO.price.copper+#messages.msg('page.copper')}" class="text-center col">1g 1s 1c</div>
                            <!--                    <div th:if="${material.itemDTO.price == null}" class="text-center col">-</div>-->
                            <div th:if="${material.itemDTO.price != null}" th:text="${material.itemDTO.price.times(material.quantity).gold+#messages.msg('page.gold')+' '+material.itemDTO.price.times(material.quantity).silver+#messages.msg('page.silver')+' '+material.itemDTO.price.times(material.quantity).copper+#messages.msg('page.copper')}" class="text-center col">1g 1s 1c</div>
                            <!--                    <div th:if="${material.itemDTO.price == null}" class="text-center col">-</div>-->
                        </div>
                    </div>
                    <hr class="mt-1" />
                </div>
            </div>

        </div>

    </div>

</div>
<script th:inline="javascript">
    const goldLabel =  /*[[${#messages.msg('page.gold.label')}]]*/ "";
    const silverLabel =  /*[[${#messages.msg('page.silver.label')}]]*/ "";
    const copperLabel =  /*[[${#messages.msg('page.copper.label')}]]*/ "";
    const allLocations = /*[[${#messages.msg('page.locations.all')}]]*/ "";
    const allFactories = /*[[${#messages.msg('page.factories.all')}]]*/ "";
    const producedQuantityLabel = /*[[${#messages.msg('page.produced.quantity')}]]*/ "";
    const recipeCostLabel = /*[[${#messages.msg('page.recipe.cost')}]]*/ "";
    const materialNameLabel = /*[[${#messages.msg('page.material.name')}]]*/ "";
    const materialQuantityLabel = /*[[${#messages.msg('page.quantity')}]]*/ "";
    const materialPriceLabel = /*[[${#messages.msg('page.unit.price')}]]*/ "";
    const materialTotalPriceLabel = /*[[${#messages.msg('page.total.cost')}]]*/ "";
</script>
<div th:replace="~{index::#footer}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</div>
<script th:src="@{/resource/packs.js}" src="../static/packs.js" type="text/javascript"></script>
</body>
</html>