<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{index::head_fragment(#{page.profile.label})}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" >
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script th:src="@{/resource/index.js}"  src="../static/index.js"></script>
  <link href="../static/style.css" th:href="@{/resource/style.css}" rel="stylesheet"/>
  <title th:text="${title ?: #messages.msg('page.title')}">Archeage Auction</title>
</head>
<body>
<div class="container-fluid p-0">
  <nav class="navbar bg-dark navbar-expand-lg" data-bs-theme="dark" th:replace="~{index::nav_fragment}">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" th:href="@{/}" th:text="${#strings.capitalize(server)}">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false" th:text="#{page.language.label}">Language</a>
            <ul class="dropdown-menu">
              <li th:each="language : ${T(com.arslan.web.entity.SupportedLanguages).values()}"><a
                      class="dropdown-item"
                      th:text="${#messages.msg('supported.language.'+language.name())}"
                      th:href="@{|/?locale=${language.locale.language}|}" href="#">Russian</a></li>
              <li th:remove="all"><a class="dropdown-item" href="#">Test</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false" th:text="#{page.server.label}">Server</a>
            <ul class="dropdown-menu">
              <li th:each="server : ${servers}"><a class="dropdown-item" th:text="${server}"
                                                   th:href="@{|/?server=${server}|}" href="#">Server</a>
              </li>
              <li th:remove="all"><a class="dropdown-item" href="#">Test</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link" href="#" th:href="@{/packs}" th:text="#{page.packs.label}">Packs</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div th:replace="~{index::errors}"></div>
  <div class="container-fluid" id="user_price_list">
<!--    <div class="row gx-4 mt-2">-->
<!--      <div class="col-1">-->
<!--        <label class="w-100" for="item_search_input">Item's Name:</label>-->
<!--      </div>-->
<!--      <div class="col-10">-->
<!--        <input class=" form-input w-100" type="search" id="item_search_input" />-->
<!--      </div>-->
<!--      <div class="col-1">-->
<!--        <button class="btn btn-success col-1 w-100">Search</button>-->
<!--      </div>-->
<!--    </div>-->
  </div>
  <div class="d-flex justify-content-between mt-2 p-5">
    <button class="btn btn-primary" id="previous_btn" disabled onclick="previousPrices()">Previous</button>
    <button class="btn btn-primary" id="next_btn" disabled onclick="nextPrices()">Next</button>
  </div>
</div>
<div th:replace="~{index::#footer}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</div>
<script th:inline="javascript">
  let saveBtnLabel = /*[[${#messages.msg('page.save.label')}]]*/ "";
  let goldLabel =  /*[[${#messages.msg('page.gold.label')}]]*/ "";
  let silverLabel =  /*[[${#messages.msg('page.silver.label')}]]*/ "";
  let copperLabel =  /*[[${#messages.msg('page.copper.label')}]]*/ "";
  let pricesLabel = /*[[${#messages.msg('page.prices.label')}]]*/ "";
</script>
<script th:src="@{/resource/prices.js}" type="text/javascript" ></script>
</body>
</html>